body {
  background-color: rgb(4, 0, 66);
}

#navbar {
  padding: 50px 200px;
}
.logo {
  width: 300px;
}

.img_container {
  position: relative;
  padding: 0 0 0 180px;
  left: 150px;
  width: 70%;
  
}




.crash_left {
  position: absolute;
  width: 270px;
  height: 100px;
  border-radius: 50%;
  top: 80px;
  left: 279px;
  background-color: white;
  opacity: 0.5;
  transform: rotate(10deg);
}

.crash_left:hover {
  cursor: pointer;
}

.crash_up_right {
  position: absolute;
  width: 250px;
  height: 56px;
  border-radius: 50%;
  top: 16px;
  left: 910px;
  background-color: aqua;
  opacity: 0.5;
  transform: rotate(168deg);
}

.crash_up_right:hover {
  cursor: pointer;
}

.tom_up_left {
  position: absolute;
  width: 195px;
  height: 65px;
  border-radius: 50%;
  top: 106px;
  left: 560px;
  background-color: aquamarine;
  opacity: 0.5;
  transform: rotate(5deg);
}

.tom_up_left:hover {
  cursor: pointer;
}

.tom_up_right {
  position: absolute;
  width: 195px;
  height: 65px;
  border-radius: 50%;
  top: 106px;
  left: 780px;
  background-color: aquamarine;
  opacity: 0.5;
}

.tom_up_right:hover {
  cursor: pointer;
}

.crash_down_right {
  position: absolute;
  width: 270px;
  height: 80px;
  border-radius: 50%;
  top: 125px;
  left: 1020px;
  background-color: aqua;
  opacity: 0.5;
  transform: rotate(170deg);
}

.crash_down_right:hover {
  cursor: pointer;
}

.tom_down_left {
  position: absolute;
  width: 195px;
  height: 90px;
  border-radius: 50%;
  top: 15px;
  left: 607px;
  background-color: aquamarine;
  transform: rotate(10deg);
}

.tom_down_left:hover {
  cursor: pointer;
}

.tom_down_center {
  position: absolute;
  width: 195px;
  height: 90px;
  border-radius: 50%;
  top: -30px;
  left: 415px;
  background-color: aquamarine;
  transform: rotate(10deg);
}

.tom_down_center:hover {
  cursor: pointer;
}

.tom_down_right {
  position: absolute;
  width: 201px;
  height: 90px;
  border-radius: 50%;
  top: -60px;
  left: 212px;
  background-color: aquamarine;
  transform: rotate(8deg);
}

.tom_down_right:hover {
  cursor: pointer;
}

.snare_drum {
  position: absolute;
  width: 270px;
  height: 100px;
  border-radius: 50%;
  top: -50px;
  left: 745px;
  background-color: aquamarine;
  transform: rotate(10deg);
}

.snare_drum:hover {
  cursor: pointer;
}

.bass_drum {
  position: absolute;
  width: 200px;
  height: 150px;
  border-radius: 20%;
  top: -280px;
  left: 430px;
  background-color: aquamarine;
  transform: rotate(100deg);
}

.bass_drum:hover {
  cursor: pointer;
}

.footer_buttons {
  display: flex;
  justify-content: space-evenly;
  gap: 10em;
  padding-top: 20px;
}
.footer_buttons .play_button, .footer_buttons a {
  background-color: #00B365;
  color: #FEFEFB;
  width: 10em;
  height: 3em;
  border-radius: 20px;
  color: #FEFEFB;
  text-decoration: none;
}
.footer_buttons .switch_button, .footer_buttons a {
  background-color: #00B365;
  color: #FEFEFB;
  width: 10em;
  height: 3em;
  border-radius: 20px;
  color: #FEFEFB;
  text-decoration: none;
}
.footer_buttons .arrow_back a{
  background-color:rgb(4, 0, 66); ;
}
.arrow_back_img{
  width: 100px;
}
  






/*# sourceMappingURL=hitthedrum.css.map */
@media screen and (max-width: 1600px) {
  .img_container{
    padding-right: 200px;
    transform: translateX(-100px);
  }
  .logo {
    width: 400px;
  }
  .footer_buttons{
    padding-right: 300px;
    padding-left: 300px;
    transform: translateX(100px);
    gap: 300px;
  } 
  
}

@media screen and (max-width: 1400px) {
  .img_container{
    transform: translateX(-200px);
    padding-right: 100px;
    margin-right: 100px;
  }
  .logo {
    width: 400px;
  }
  .footer_buttons{
    padding-right: 300px;
    padding-left: 200px; 
    gap: 200px;
  } 
}


@media screen and (max-width: 1200px) {
   .img_container{
    transform: translateX(-300px);
    padding-right: 100px;
    margin-right: 100px;
  }
  .pad-container{
    transform: translateX(-300px);  
  }
  .logo {
    width: 400px;
  }
  .footer_buttons{
    padding-right: 300px;
    padding-left: 200px;
    gap: 200px;
  } 
  
}


@media screen and (max-width: 1000px )  {

  .img_container{
    padding-right: 200px;
    margin-right: 200px; 
  }
  .logo {
    width: 500px;
  } 
  .footer_buttons{
    padding-right: 300px;
    padding-left: 100px;
    transform: translateX(250px);
    gap: 200px;
  } 
  
  
}


@media screen and (max-width: 768px){

  
  .img_container{
    transform: translateX(-300px);
    padding-right: 200px;
    margin-right: 200px;
  }
  .pad-container{
    transform: translateX(-300px);  
  }
  .footer_buttons{
    padding-right: 300px;
    padding-left: 400px;
    transform: translateX(200px);
    gap: 200px;
  } 
  
}

@media screen and (max-width: 300px){

  
  .img_container{
    width: max-content;
  }
  .pad-container{
    padding-right: 300px;
    margin-right: 300px;
  }
  .footer_buttons{
    padding-right: 300px;
    padding-left: 300px;
    transform: translateX(200px);
  } 
  
}

