body {
    background-color: rgb(4, 0, 66);
    font-family: "Montserrat", sans-serif;
    font-size: 0.8rem;
    font-weight: 500;
    color: grey;
    
  }

#navbar {
    padding: 2em 1em;
    display: flex;
    justify-content: space-evenly;
  }
  
  #navbar__menu {
    display: flex;
    position: relative;
    top: 0;
    right: 0;
    justify-content: flex-end;
    align-items: flex-start;
    width: 30%;
    gap: 2em;
    list-style: none;
    font-size: 14px;
  }
  
  #navbar__menu a {
    color: #FEFEFB;
    text-decoration: none;
  }
  
  #hamburger {
    position: relative;
    top: 0;
    right: 0;
    display: none;
    cursor: pointer;
    
  }
  
  .main {
    display: flex;
    justify-content: center;
    margin: 0 3rem;
    padding: 3rem 0;
  }

  .register__container {
    width: 18em;
    margin-top: 1rem;
    margin-bottom: 11rem;
    padding: 15px;
    background-color: #ccf6d1;
    border: 1px solid #fefefb;
    border-radius: 5px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
  }
  
  .register__container h2 {
    text-align: center;
    margin-bottom: 20px;
  }

  #errorContainer {
    color: red;
  }

  .form-group {
    margin-bottom: 20px;
    margin-left: 20px;
  }
  
  .form-group label {
    display: block;
    font-weight: bold;
    margin-bottom: 5px;
  }
  
  .form-group input {
    padding: 8px;
    border: 1px solid #ccc;
    border-radius: 3px;
    
  }
  
  .form-group button {
    width: 50%;
    padding: 8px;
    margin-left: 20%;
    background-color: #4caf50;
    color: #ffffff;
    border: none;
    border-radius: 3px;
    cursor: pointer;
  }



  .footer__menu {
    display: flex;
    justify-content: center;
    gap: 2em;
  }
  
  .footer__menu p {
    color: #FEFEFB;
    padding-bottom: 2em;
  }
  
  .footer__menu p:hover {
    color: #00F482;
  }
  
  footer {
    text-align: center;
  }
  
  footer .copyright {
    margin: 0;
    text-align: center;
  }

  /* Media query*/ 

  @media screen and (max-width: 1000px ){

    #navbar__menu {
      display: none;
      visibility: hidden;
    }
    #navbar {
       padding: 0;
    }
    #navbar__logo {
      position: absolute;
      left: 1em; 
    }
    #hamburger {
      display: block;
      position: absolute;
      top: 1em;
      right: 1em;
    }
    #navbar__menu.active {
      display: flex;
      position: absolute;
      top: 5em;
      flex-direction: column;
      visibility: visible;
      border: 1px solid black;
      border-radius: 10px;
      padding-top: 1em;
      padding-bottom: 1em;
      background-color: #131313;
      width: 6em;  
    }
    .register__container{
        margin-top: 10em;
    }
    
}

@media screen and (max-width: 768px ){
    #navbar__logo img {
      width: 200px;
    }
    #hamburger img{
      width: 30px;
      height: 30px;
    }
    #navbar__menu.active {
        top: 5em; 
        width: 6em;   
      }
}

@media screen and (max-width: 400px){
    .register__container{
        width: auto; 
    }
    .form-group {
        margin-bottom: 20px;
        margin-left: 0;
    }
    .form-group label {
        display: block;
        font-weight: bold;
        margin-bottom: 5px;  
    }
    .form-group button {
        margin-left: 25%;
       
      }
}