.intro {
  display: flex;
  justify-content: center;
  margin: 0 3rem;
  padding: 3rem 0;
}
.intro .intro__left {
  max-width: 20rem;
  padding: 2rem;
}
.intro .intro__left #intro__h1 {
  color: #FEFEFB;
  font-weight: 600;
  font-size: 3rem;
  margin: 1rem 0;
}
.intro .intro__left #intro__p {
  font-size: 0.8rem;
  font-weight: 400;
}
.intro .intro__left #intro__btn {
  background-color: #00F482;
  color: #FEFEFB;
  width: 9rem;
  padding: 0.5rem;
  margin: 0;
  border: none;
  border-radius: 4rem;
  margin-top: 3rem;
}
.intro .intro__left #intro__btn a {
  color: #FEFEFB;
  text-decoration: none;
}
.intro #intro__img {
  flex: 1 60%;
  max-width: 30rem;
}

.intro {
  display: flex;
  justify-content: center;
  margin: 0 3rem;
  padding: 3rem 0;
}
.intro .intro__left {
  max-width: 20rem;
  padding: 2rem;
}
.intro .intro__left #intro__h1 {
  color: #FEFEFB;
  font-weight: 600;
  font-size: 3rem;
  margin: 1rem 0;
}
.intro .intro__left #intro__p {
  font-size: 0.8rem;
  font-weight: 400;
}
.intro .intro__left #intro__btn {
  background-color: #00F482;
  color: #FEFEFB;
  width: 9rem;
  padding: 0.5rem;
  margin: 0;
  border: none;
  border-radius: 4rem;
  margin-top: 3rem;
}
.intro .intro__left #intro__btn a {
  color: #FEFEFB;
  text-decoration: none;
}
.intro #intro__img {
  flex: 1 60%;
  max-width: 30rem;
}

.premium {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin: 2rem 0;
}

#premium__h2 {
  color: #FEFEFB;
  margin: 0;
}

#premium__btn {
  background-color: #00F482;
  color: #FEFEFB;
  width: 9rem;
  padding: 0.5rem;
  margin: 0;
  border: none;
  border-radius: 4rem;
  margin-top: 3rem;
  margin: 0;
}

a {
  color: #FEFEFB;
  text-decoration: none;
}

body {
  background-color: rgb(4, 0, 66);
}

#navbar {
  padding: 0 200px;
}

.img_container {
  position: relative;
  padding: 0 0 0 300px;
  width: 70%;
}

.pad-container {
  position: absolute;
  top: 170px;
  left: 130px;
  width: 80%;
  height: 80%;
}

.crash_left {
  position: absolute;
  width: 270px;
  height: 100px;
  border-radius: 50%;
  top: 80px;
  left: 279px;
  background-color: white;
  opacity: 0.5;
  transform: rotate(10deg);
}

.crash_left:hover {
  cursor: pointer;
}

.crash_up_right {
  position: absolute;
  width: 250px;
  height: 56px;
  border-radius: 50%;
  top: 16px;
  left: 910px;
  background-color: aqua;
  opacity: 0.5;
  transform: rotate(168deg);
}

.crash_up_right:hover {
  cursor: pointer;
}

.tom_up_left {
  position: absolute;
  width: 195px;
  height: 65px;
  border-radius: 50%;
  top: 106px;
  left: 560px;
  background-color: aquamarine;
  opacity: 0.5;
  transform: rotate(5deg);
}

.tom_up_left:hover {
  cursor: pointer;
}

.tom_up_right {
  position: absolute;
  width: 195px;
  height: 65px;
  border-radius: 50%;
  top: 106px;
  left: 780px;
  background-color: aquamarine;
  opacity: 0.5;
}

.tom_up_right:hover {
  cursor: pointer;
}

.crash_down_right {
  position: absolute;
  width: 270px;
  height: 80px;
  border-radius: 50%;
  top: 125px;
  left: 1020px;
  background-color: aqua;
  opacity: 0.5;
  transform: rotate(170deg);
}

.crash_down_right:hover {
  cursor: pointer;
}

.tom_down_left {
  position: absolute;
  width: 195px;
  height: 90px;
  border-radius: 50%;
  top: 15px;
  left: 607px;
  background-color: aquamarine;
  transform: rotate(10deg);
}

.tom_down_left:hover {
  cursor: pointer;
}

.tom_down_center {
  position: absolute;
  width: 195px;
  height: 90px;
  border-radius: 50%;
  top: -30px;
  left: 415px;
  background-color: aquamarine;
  transform: rotate(10deg);
}

.tom_down_center:hover {
  cursor: pointer;
}

.tom_down_right {
  position: absolute;
  width: 201px;
  height: 90px;
  border-radius: 50%;
  top: -60px;
  left: 212px;
  background-color: aquamarine;
  transform: rotate(8deg);
}

.tom_down_right:hover {
  cursor: pointer;
}

.snare_drum {
  position: absolute;
  width: 270px;
  height: 100px;
  border-radius: 50%;
  top: -50px;
  left: 745px;
  background-color: aquamarine;
  transform: rotate(10deg);
}

.snare_drum:hover {
  cursor: pointer;
}

.bass_drum {
  position: absolute;
  width: 200px;
  height: 150px;
  border-radius: 20%;
  top: -280px;
  left: 430px;
  background-color: aquamarine;
  transform: rotate(100deg);
}

.bass_drum:hover {
  cursor: pointer;
}

.footer_buttons {
  display: flex;
  justify-content: space-evenly;
  gap: 10em;
  padding-top: 20px;
}
.footer_buttons .play_button, .footer_buttons a {
  background-color: #00B365;
  color: #FEFEFB;
  width: 10em;
  height: 3em;
  border-radius: 20px;
  color: #FEFEFB;
  text-decoration: none;
}
.footer_buttons .switch_button, .footer_buttons a {
  background-color: #00B365;
  color: #FEFEFB;
  width: 10em;
  height: 3em;
  border-radius: 20px;
  color: #FEFEFB;
  text-decoration: none;
}

main {
  display: flex;
  flex-direction: column;
  align-items: center;
}

#img__piano {
  max-width: 70%;
  margin: 0 0 4rem 0;
}

#container__text {
  filter: url(#threshold) blur(0.2px);
  margin: 4rem 0 0 0;
}

#container__text1,
#container__text2 {
  position: absolute;
  width: 100%;
  display: inline-block;
  font-size: 6rem;
  text-align: center;
  user-select: none;
  color: #00B365;
}

.footer {
  position: absolute;
  bottom: 1rem;
  left: 40%;
}

.footer__menu, #copyright {
  display: flex;
  justify-content: center;
  margin: 0 3rem;
  margin: 0 0;
  gap: 2rem;
}

body {
  background: rgb(4, 0, 66);
  background: radial-gradient(circle, rgb(4, 0, 66) 0%, rgb(2, 0, 36) 100%);
  font-family: "Montserrat", sans-serif;
  font-size: 0.8rem;
  font-weight: 500;
  color: grey;
  padding: 0.5rem;
}
body .h1Obras {
  color: #00F482;
}
body #navbar {
  display: flex;
  justify-content: space-evenly;
}
body #navbar #navbar__menu {
  display: flex;
  justify-content: flex-end;
  align-items: flex-start;
  width: 60%;
  gap: 3em;
  list-style: none;
  font-size: 14px;
}
body #navbar #navbar__menu a {
  color: #FEFEFB;
  text-decoration: none;
}
body #navbar #navbar__menu a:hover {
  color: #00F482;
}

/*# sourceMappingURL=styles.css.map */
