@import 'variables';
@import 'mixings';


#img__piano {
    max-width: 70%;
    margin: 0 0 4rem 0;
}

#container__text {
    // position: absolute;
    // margin: auto;
    // width: 100vw;
    // height: 80pt;
    // top: 0;
    // bottom: 0;
    filter: url(#threshold) blur(0.2px);
    margin: 4rem 0 0 0;
}

#container__text1,
#container__text2 {
    position: absolute;
    width: 100%;
    display: inline-block;
    font-size: 6rem;
    text-align: center;
    user-select: none;
    color: $colorDarkGreen;
}
#bottom__navigation {
    display: flex;
    justify-content: space-evenly;
}

#bottom__navigation--switch {
    display: flex;
    flex-direction: column;
    margin: auto;
}

#bottom__navigation--switch button {
    width: 4rem;
    background-color: $colorLightGreen;
    color: $colorWhite;
    font-size: 0.6rem;
    padding: 0.5rem;
    border-radius: 2rem;
    border-style: none;
}

#bottom__navigation--switch img {
    max-width: 8rem;
}

