
  @import 'variables';
  @import 'mixings';
  
  * {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
  }
  
  body {
    background: rgb(4, 0, 66);
    background: radial-gradient(circle, rgba(4, 0, 66, 1) 0%, rgba(2, 0, 36, 1) 100%);
    @include fontFamily();
  }
  
  #navbar {
    padding: 2em 1em;
    @include flxlogo();
  }
  
  #navbar__menu {
    @include navbar();
  }
  
  #navbar__menu a {
    color: $colorWhite;
    text-decoration: none;
  }
  
  #navbar__menu a:hover {
    color: $colorLightGreen;
  }
  
  .main__hitThe {
    text-align: center;
    padding: 3em 0;
    color: $colorWhite;
    font-size: 3em; 
  }
  
  .imgs__hitThe {
    display: flex;
    justify-content: center;
    gap: 1em;
    flex-wrap: wrap;
  }
  
  .drum_container, .piano_container {
    flex-basis: 45%;
  }
  
  .drum_img, .piano_img {
    width: 100%;
    height: 75%;
    object-fit: contain;
  }
  
  .imgs__hitThe p {
    text-align: center;
    font-size: 2em; 
    color: $colorWhite;
  }
  
  .drum_img:hover, .piano_img:hover {
    border: 1px solid $colorLightGreen;
    transform: scale(1.1);
  }
  
  .coming_soon {
    padding: 3em 0;
    text-align: center;
    font-size: 2.5em; 
    color: $colorDarkGreen;
  }
  
  .footer__menu {
    display: flex;
    justify-content: center;
    gap: 2em;
  }
  
  .footer__menu p {
    color: $colorWhite;
  }
  
  .footer__menu p:hover {
    color: $colorLightGreen;
  }
  
  footer {
    text-align: center;
    padding: 2em 0;
  }
  
  footer .copyright {
    margin: 0;
    padding-top: 3em;
    text-align: center;
  }
  
  
  @media screen and (max-width: 1000px) {
    .imgs__hitThe {
      flex-wrap: wrap; 
    }
    .drum_container, .piano_container {
        flex-basis: 50%;
      }
  }
   
   @media screen and (max-width: 768px) {
    .main__hitThe {
      font-size: 2.5em; 
    }
  
    .imgs__hitThe p {
      font-size: 1.5em; 
    }
  
    .coming_soon {
      font-size: 2em; 
    }
  }
  
  @media screen and (max-width: 480px) {
    .main__hitThe {
      font-size: 2em; 
    }
  
    .imgs__hitThe p {
      font-size: 1em; 
    }
  
    .coming_soon {
      font-size: 1.5em; 
    }
  }
