@import 'variables';
@import 'mixings';

main {
    display: flex;
    flex-direction: column;
    justify-content: center;
}

#img__piano {
    max-width: 70%;
    margin: 4rem auto;
}   

#container__text {
    filter: url(#threshold) blur(0.2px);
    margin: 4rem 0 0 0;
}

#container__text1,
#container__text2 {
    position: absolute;
    width: 100%;
    display: inline-block;
    font-size: 6rem;
    text-align: center;
    user-select: none;
    color: $colorDarkGreen;
}

#bottom__navigation {
    display: flex;
    justify-content: space-around;
    gap: 70%;
}

#bottom__navigation--switch {
    display: flex;
    flex-direction: column;
}

#bottom__navigation--switch button {
    width: 4rem;
    background-color: $colorLightGreen;
    color: $colorWhite;
    font-size: 0.6rem;
    padding: 0.5rem;
    border-radius: 2rem;
    border-style: none;
}

#bottom__navigation--switch img {
    max-width: 8rem;
}

