@import "mixings";
@import "variables";

body{
    background-color: $colorbgdarkblue;
}
#navbar { 
    padding: 0 200px;
}
.img_container{
    position: relative;
    padding: 0 0 0 300px;
    width: 70%;  
}
.pad-container{
    position: absolute;
    top: 170px;
    left: 130px;
    width: 80%;
    height: 80%;
}
.crash_left{
    position: absolute;
    width: 270px;
    height: 100px;
    border-radius: 50%;
    top: 80px;
    left: 279px;
    background-color: white;
    opacity: .5;
    transform: rotate(10deg);
}
.crash_left:hover{
    cursor: pointer;
}
.crash_up_right{
    position: absolute;
    width: 250px;
    height: 56px;
    border-radius: 50%;
    top: 16px;
    left: 910px;
    background-color: aqua;
    opacity: .5;
    transform: rotate(168deg);
}
.crash_up_right:hover{
    cursor: pointer;
}
.tom_up_left{
    position: absolute;
    width: 195px;
    height: 65px;
    border-radius: 50%;
    top: 106px;
    left: 560px;
    background-color: aquamarine;
    opacity: .5;
    transform: rotate(5deg);
}
.tom_up_left:hover{
    cursor: pointer;
}
.tom_up_right{
    position: absolute;
    width: 195px;
    height: 65px;
    border-radius: 50%;
    top: 106px;
    left: 780px;
    background-color: aquamarine;
    opacity: .5;
}
.tom_up_right:hover{
cursor: pointer;
}
.crash_down_right{
    position: absolute;
    width: 270px;
    height: 80px;
    border-radius: 50%;
    top: 125px;
    left: 1020px;
    background-color: aqua;
    opacity: .5;
    transform: rotate(170deg);
}
.crash_down_right:hover{
    cursor: pointer;
}
.tom_down_left{
    position: absolute;
    width: 195px;
    height: 90px;
    border-radius: 50%;
    top: 15px;
    left: 607px;
    background-color: aquamarine;
    transform: rotate(10deg);
}
.tom_down_left:hover{
    cursor: pointer;
}
.tom_down_center{
    position: absolute;
    width: 195px;
    height: 90px;
    border-radius: 50%;
    top: -30px;
    left: 415px;
    background-color: aquamarine;
    transform: rotate(10deg);
}
.tom_down_center:hover{
    cursor: pointer;
}
.tom_down_right{
    position: absolute;
    width: 201px;
    height: 90px;
    border-radius: 50%;
    top: -60px;
    left: 212px;
    background-color: aquamarine;
    transform: rotate(8deg);
}
.tom_down_right:hover{
    cursor: pointer;
}
.snare_drum{
    position: absolute;
    width: 270px;
    height: 100px;
    border-radius: 50%;
    top: -50px;
    left: 745px;
    background-color: aquamarine;
    transform: rotate(10deg);
}
.snare_drum:hover{
    cursor: pointer;
}
.bass_drum{
    position: absolute;
    width: 200px;
    height: 150px;
    border-radius: 20%;
    top: -280px;
    left: 430px;
    background-color: aquamarine;
    transform: rotate(100deg);
}
.bass_drum:hover{
    cursor: pointer;
}
.footer_buttons{
    display: flex;
    justify-content: space-evenly;
    gap: 10em;
    padding-top: 20px;
    .play_button, a{
        @include btn_green;
    }
    .switch_button, a{
        @include btn_green
    }   
}
    




   




