@import 'variables';
@import 'mixings';

main {
    display: flex;
    flex-direction: column;
    justify-content: center;
}

#img__piano {
    max-width: 70%;
    margin: 4rem auto;
}   

#bottom__navigation--switch {
    display: flex;
    flex-direction: column;
    position: absolute;
    right: 5rem;
    bottom: 5rem;
}

#bottom__navigation--switch button {
    width: 4rem;
    background-color: $colorLightGreen;
    color: $colorWhite;
    font-size: 0.6rem;
    padding: 0.5rem;
    border-radius: 2rem;
    border-style: none;
}

#bottom__navigation--leftArrow {
    position: absolute;
    left: 5rem;
    bottom: 5rem;
}

#bottom__navigation--switch img {
    max-width: 8rem;
}


//TEXTO ANIMADO

h1 {
  font-size: 68px;
  color: $colorLightGreen;
  margin: 3rem auto;

  span.text {
    padding: 0;
    padding-right: 4px;
    border-right: 2px solid #747474;
    animation: blink 0.75s infinite;
    font-weight: 500;
  }

  .blue {
    color: #4480ff;
  }
  .yellow {
    color: rgb(247, 205, 38);
  }
}
p.info {
  font-size: 12px;
  margin-top: 6rem;
  color: #747474;

  a {
    text-decoration: none;
    color: #4480ff;
  }
}

@keyframes blink {
  from {
    border: none;
  }
  to {
    border-color: 2px solid #747474;
  }
}
@media screen and (max-width: 670px) {
  h1 {
    font-size: 40px;
  }
}
@media screen and (max-width: 400px) {
  h1 {
    font-size: 32px;
  }
}
