@import 'variables';


@mixin fontFamily {
  font-family: 'Montserrat', sans-serif;
  font-size: 0.8rem;
  font-weight: 500;
  color: grey;
  padding: 0.5rem;
}

@mixin dflexContent {
  display: flex;
  justify-content: center;
  margin: 0 3rem;
} 

@mixin navbar {
  display: flex;
  justify-content: flex-end;
  align-items: flex-start;
  width: 60%;
  gap: 3em;
  list-style: none;
  font-size: 14px;
}

@mixin flxlogo {
  display: flex;
  justify-content: space-evenly;
}

@mixin btn_green{
  background-color: $colorDarkGreen;
  color: $colorWhite;
  width: 10em;
  height: 3em;
  border-radius: 20px;
  color: $colorWhite;
  text-decoration: none;
}

@mixin centerContent {
  display: flex;
  flex-direction: column;
  align-items: center;
}

@mixin dflexContent {
  display: flex;
  justify-content: center;
  margin: 3rem 3rem;
} 

@mixin hitBtn {
  background-color: $colorLightGreen;
  color: $colorWhite;
  width: 9rem;
  padding: 0.5rem;
  margin: 0;
  border: none;
  border-radius: 4rem;
  margin-top: 3rem;
}

@mixin navbar {
  display: flex;
  justify-content: flex-end;
  align-items: flex-start;
  width: 60%;
  gap: 3em;
  list-style: none;
  font-size: 14px;
}

@mixin navbarPremium {
  color: $colorLightGreen;
  font-weight: 800;
}

@mixin premium-section {
  font-size: 2rem;
  font-weight: 800;
  line-height: 60px;
  color: $colorWhite;
  width: 90vw;
  height: 100%;
  margin: 0 auto;
}

@mixin hitcircle {
  width: 400px;
  height: 400px;
  background-color: #131313;
  border-radius: 50%;
  border: 2px solid #303030;
  margin: 3vw auto 2vw auto;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  font-size: 3rem;
  font-weight: 900;
  color: #303030;
}

@mixin DOMBOOM {
  color: $colorLightGreen;
}

@mixin button {
  background-color: $colorLightGreen;
  color: $colorWhite;
  border: none;
  font-size: 1.5rem;
  font-weight: 800;
  padding: 24px;
  border-radius: 20px;
  display: block;
  margin: 0 auto;
}

@mixin fontFamily {
  font-family: "Montserrat", sans-serif;
  font-size: 0.8rem;
  font-weight: 500;
  color: grey;
  padding: 0.5rem;
}

@mixin dflexContent {
  display: flex;
  justify-content: center;
  margin: 0 3rem;
} 
@mixin flxlogo {
  display: flex;
  justify-content: space-evenly;
}

@mixin foot {
  position: absolute;
    bottom: 1rem;
    left: 40%;
}

@mixin reset{
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}