@import "variables";
@import "mixings";

#navbar__menu {
  @include navbar();
  a {
    color: $colorWhite;
    text-decoration: none;
  }
  #navbar__menu__premium {
    @include navbarPremium();
  }
  #navbar__menu__signup {
    color: $colorDarkGreen;
  }
}
#premium__section {
  @include premium-section();
  #hit-circle {
    @include hitcircle();
  }
  #premium__h3__domboom {
    @include DOMBOOM();
  }
  #premium__p {
    font-size: 3rem;
  }
  #premium__btn {
    @include button();
  }
}
