#navbar__menu #login {
  color: #00f482;
}
#str {
  color: #00b365;
  font-size: large;
}
#errorContainer {
  color: red;
}
.lg__container {
  width: 20em;
  margin: 0 auto;
  margin-top: 3rem;
  margin-bottom: 15rem;
  padding: 20px;
  background-color: #ccf6d1;
  border: 1px solid #fefefb;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}
.lg__container h2 {
  text-align: center;
  margin-bottom: 20px;
}

.form-group {
  margin-bottom: 20px;
}

.form-group input {
  padding: 8px;
  border: 1px solid #ccc;
}

.form-group button {
  width: 50%;
  padding: 8px;
  margin-left: 25%;
  background-color: #4caf50;
  color: #ffffff;
  border: none;
  cursor: pointer;
}

a {
  color: blue;
}
/* ---------responsive------------ */
@media (min-width: 1024px) {
  .container {
    max-width: 960px;
    margin: 0 auto;
  }
}
@media (min-width: 768px) and (max-width: 1023px) {
  .container {
    max-width: 768px;
    margin: 0 auto;
  }
}
@media (max-width: 767px) {
  .container {
    max-width: 100%;
    padding: 0 20px;
  }
}
