* {
  padding: 0;
  
  box-sizing: border-box;
}

body {
  background: rgb(4, 0, 66);
  background: radial-gradient(circle, rgb(4, 0, 66) 0%, rgb(2, 0, 36) 100%);
  font-family: "Montserrat", sans-serif;
  font-size: 0.8rem;
  font-weight: 500;
  color: grey;
  padding: 0.5rem;
}

#hamburger {
  position: relative;
  top: 0;
  right: 0;
  display: none;
  cursor: pointer;
  
}

.hamburger img {
  width: 25px;
  height: 25px;
}


#navbar {
  padding: 2em 1em;
  display: flex;
  justify-content: space-evenly;
}

#navbar__menu {
  display: flex;
  justify-content: flex-end;
  align-items: flex-start;
  width: 60%;
  gap: 3em;
  list-style: none;
  font-size: 14px;
}

#navbar__menu a {
  color: #FEFEFB;
  text-decoration: none;
}

#navbar__menu a:hover {
  color: #00F482;
}

.main__hitThe {
  text-align: center;
  padding: 3em 0;
  color: #FEFEFB;
  font-size: 3em;
}

.imgs__hitThe {
  display: flex;
  justify-content: center;
  gap: 1em;
  flex-wrap: wrap;
}

.drum_container, .piano_container {
  flex-basis: 45%;
}

.drum_img, .piano_img {
  width: 100%;
  height: 75%;
  object-fit: contain;
}

.imgs__hitThe p {
  text-align: center;
  font-size: 2em;
  color: #FEFEFB;
}


.drum_img:hover, .piano_img:hover {
  animation: borderMovement 0.4s infinite alternate;
  transform: scale(1.1);
}

@keyframes borderMovement {
  0% {
    box-shadow: 0px 0px 10px 2px #00F482;
  }
  50% {
    box-shadow: 0px 0px 20px 4px #00F482;
  }
  100% {
    box-shadow: 0px 0px 10px 2px #00F482;
  }
}

@keyframes musicEffect {
  0% {
    transform: scale(1);
    color: white;
  }
  50% {
    transform: scale(1.5);
    color:#00B365
;
  }
  100% {
    transform: scale(1);
    color: white;
  }
}

.musicEffect {
  animation: musicEffect 1s infinite;
}





.coming_soon {
  padding: 3em 0;
  text-align: center;
  font-size: 2.5em;
  color: #00B365;
}

.footer__menu {
  display: flex;
  justify-content: center;
  gap: 2em;
  
}

.footer__menu p {
  color: #FEFEFB;
}

.footer__menu p:hover {
  color: #00F482;
}

footer {
  text-align: center;
}

footer .copyright {
  margin: 0;
  padding-top: 3em;
  text-align: center;
}

@media screen and (max-width: 1000px) {
  
  #navbar__menu {
    display: none;
    visibility: hidden;
    gap: 2em;
  }
  #navbar__logo {
    position: absolute;
    left: 1em; 
  }
  #hamburger {
    display: block;
    position: absolute;
    top: 1em;
    right: 1em;
  }
  #navbar__menu.active {
    display: flex;
    position: absolute;
    top: 5em;
    right: 0;
    flex-direction: column;
    align-items: center;
    visibility: visible;
    border: 1px solid black;
    border-radius: 10px;
    padding-top: 1em;
    padding-bottom: 1em;
    background-color: #131313;
    width: 8em;  
  }
  .imgs__hitThe {
    flex-wrap: wrap;
  }
  .drum_container, .piano_container {
    flex-basis: 50%;
  }
}




@media screen and (max-width: 768px) {
  #hamburger img{
    width: 35px;
    height: 35px;
  }
  
  .main__hitThe {
    font-size: 2.5em;
  }
  .imgs__hitThe p {
    font-size: 1.5em;
  }
  .coming_soon {
    font-size: 2em;
  }
}

@media screen and (max-width: 500px) {
  #navbar{
    padding: 0;
  }
  #navbar__menu{
    gap: 1em;
  }
  #navbar__logo img {
    width: 150px;
    
  }
  #hamburger img{
    width: 30px;
    height: 30px;
  }
  .main__hitThe {
    font-size: 2em;
  }
  .imgs__hitThe p {
    font-size: 1em;
  }
  .coming_soon {
    font-size: 1.5em;
  }
  #navbar__menu.active {
    display: flex;
    position: absolute;
    top: 5em;
    flex-direction: column;
    align-items: center;
    visibility: visible;
    border: 1px solid black;
    border-radius: 10px;
    padding-top: 0.5em;
    padding-bottom: 1em;
    background-color: #131313;
    width: 6em;    
    
  }
}



/*# sourceMappingURL=hitthe.css.map */
