/*body {
  background-color: rgb(4, 0, 66);
}

#navbar {
  padding: 50px 200px;
}

.logo {
  width: 300px;
}*/

.img_container {
  position: relative;
  width: 60%;
  margin: 0 auto;
  text-align: center;
}

.drum_img {
  width: 100%;
  height: auto;
}

.drum,
.crash,
.hithat {
  position: absolute;
  border-radius: 50%;
  opacity: 0.5;
}

.crash_up_left {
  width: 22%;
  height: 14%;
  top: 11.5%;
  left: 8.25%;
  background-color: #c7cdd8;
  transform: rotate(10deg);
}

.crash_up_right {
  width: 19.7%;
  height: 6.6%;
  top: 2.6%;
  right: 19.3%;
  background-color: #aeb7c4;
  transform: rotate(164deg);
}

.tom_up_left {
  width: 15.5%;
  height: 8%;
  top: 15.5%;
  left: 31.7%;
  background-color: #f34525;
  transform: rotate(4deg);
}

.tom_up_right {
  width: 15.6%;
  height: 8.6%;
  top: 15.8%;
  left: 49.5%;
  background-color: #e63c2c;
}

.hithat {
  width: 20.8%;
  height: 12.1%;
  top: 17.5%;
  right: 9%;
  background-color: #6e717f;
  transform: rotate(165deg);
}

.tom_down_left {
  width: 15.7%;
  height: 6.2%;
  top: 30%;
  left: 26.2%;
  background-color: #8495a3;
  transform: rotate(1.8deg);
}

.tom_down_center {
  width: 15%;
  height: 7.2%;
  top: 30.7%;
  left: 42.5%;
  background-color: #9eabba;
  transform: rotate(1deg);
}

.tom_down_right {
  width: 15.25%;
  height: 7%;
  top: 30.9%;
  left: 59%;
  background-color: #828f9d;
  transform: rotate(-4deg);
}

.snare_drum {
  width: 19.5%;
  height: 6%;
  top: 44%;
  left: 10%;
  background-color: #748593;
  transform: rotate(-2.5deg);
}

.bass_drum {
  width: 10%;
  height: 14.5%;
  top: 56%;
  left: 47.55%;
  transform: translateX(-7%);
  background-color: #010100;
}

@keyframes shake-top {

  0%,
  100% {
    transform: rotate(0deg);
    transform-origin: 50% 0;
  }

  10% {
    transform: rotate(2deg);
  }

  20%,
  40%,
  60% {
    transform: rotate(-4deg);
  }

  30%,
  50%,
  70% {
    transform: rotate(4deg);
  }

  80% {
    transform: rotate(-2deg);
  }

  90% {
    transform: rotate(2deg);
  }
}

@keyframes shake-vertical {

  0%,
  100% {
    transform: translateY(0);
  }

  10%,
  30%,
  50%,
  70% {
    transform: translateY(-8px);
  }

  20%,
  40%,
  60% {
    transform: translateY(8px);
  }

  80% {
    transform: translateY(6.4px);
  }

  90% {
    transform: translateY(-6.4px);
  }
}

.drum {
  cursor: pointer;
}

.shake-top {
  animation: shake-top 0.2s;
}

.shake-vertical {
  animation: shake-vertical 0.2s;
}

/*.footer_buttons {
  display: flex;
  justify-content: space-evenly;
  gap: 10em;
  padding-top: 20px;
}

.footer_buttons .play_button,
.footer_buttons .switch_button {
  background-color: #00B365;
  color: #FEFEFB;
  width: 10em;
  height: 3em;
  border-radius: 20px;
}*/