
body{
    background-color: white;;
}
.containerKeyboard{  
    width: 80vw;
    margin: 10vh auto;
    height: 40vh;
    display: flex;
    align-items:flex-end;
    justify-content: center;
    background-color: rgb(23, 61, 35);
    border-radius: 6px;
}
.keyZone{
    margin: 0 10px;
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    height: 35vh;
}
.group{
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    position: relative;
    padding: 20px 0;
}

.whiteKey, .blackKey {
    border-bottom-left-radius: 8px;
    border-bottom-right-radius: 8px;
}
.whiteKey{
    width: 3vw;
    height: 28vh;
    background-color: white;
    border: 1px solid green;
    
    z-index: 1; //para que las negras vuelvan a estar por encima
}
.whiteKey:active{
    transform: scaleY(0.98) translateY(-2px);
    box-shadow: 0 10 10px rgba(0, 0, 0, 0.5);
}
.blackKey{
    position: absolute;
    width: 2vw;
    height: 18vh;
    background-color: black;
    transition: transform 0.8s ease;
    z-index: 2;
}
.blackKey:active{
    animation: blackOffset 0.8s ease;
    box-shadow: 0 0 8px rgba(0, 0, 0, 0.3);
}

.key {
    color: red;
    text-align: center;
    cursor: pointer;
}
.g1 .blackKey:nth-child(2){
    left: calc(33.33% - 12.5px);
}
.g1 .blackKey:nth-child(4){
    right: calc(33.33% - 12.5px);
}
.g2 .blackKey:nth-child(2){
    left: calc(25% - 12.5px);
}
.g2 .blackKey:nth-child(4){
    right: calc(50% - 12.5px);
}
.g2 .blackKey:nth-child(6){
    right: calc(25% - 12.5px);
}

@keyframes blackOffset {
  0% {
    transform: translateY(0) scale(1);
  }
  50% {
    transform: translateY(-2px) scale(0.98);
  }
  100% {
    transform: translateY(0) scale(1);
  }
}

































/*html{
    background-color: blue;
    padding: 0;
    margin: 0 auto;
    justify-content: center;
}

#keyboard{
    background-color: green;
    width:55vw;
    height:40vh;
    display: flex;
    align-items:flex-end;
    justify-content: center;
    border-radius: 10px;
    color: #00b365;
}

#teclas{
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    text-align: end;
}


.whiteKey{
    background-color: #fff;
    display: flex;
    align-items: center;
    justify-content: center;
    width: 3vw;
    max-width: 3vw;
    height: 30vh;  
    border-bottom-left-radius: 3px; 
    border-bottom-right-radius: 3px; 
    border: 1px solid #00b365;
    border-top: none;
}

.blackKey{
    background-color: black;
    display: flex;
    align-items: center;
    justify-content: center;
    width: 2vw;
    max-width: 2vw;
    height: 18vh;
    border-bottom-left-radius: 2px; 
    border-bottom-right-radius:2px;
}
.whiteKey:hover{
    background-color: grey;
}
.blackKey:hover{
    background: grey;
    
}

.whiteKey:active{
    box-shadow: 2px 0 3px hsla(0, 0%, 0%, 0.1);
}
.blackKey:active{
    box-shadow: -1px -1px 2px hsla(0, 0%, 100%, 0.2);
}


#teclas {
    display: flex;
    justify-content: center;
    align-items: flex-end;
    margin: 20px;
    background-color: #f2f2f2;
    border: 1px solid #ddd;
    padding: 10px;
}


.whiteKey {
    width: 50px;
    height: 300px;
    background-color: white;
    border: 1px solid #ccc;
    cursor: pointer;
    margin-right: 5px;
}

.blackKey {
    width: 30px;
    height: 200px;
    background-color: black;
    position: relative;
    top: -100px;
    margin-right: 5px;
    cursor: pointer;
}

@media (max-width: 768px) {
    #piano {
        flex-direction: column;
        align-items: center;
    }
    
    .whiteKey {
        width: 50px;
        height: 150px;
        margin-bottom: 10px;
    }
    
    .blackKey {
        width: 30px;
        height: 100px;
        top: -50px;
        margin-bottom: 10px;
    }
}

@media (max-width: 480px) {
    .whiteKey {
        width: 30px;
        height: 100px;
    }
    
    .blackKey {
        width: 20px;
        height: 60px;
        top: -30px;
    }
}


*/